body {
  margin: 0;
  padding: 0;
  width: auto;
  background-color: black;
  }
.sec41 {
  width: 33.33vw;
  height: 90vh;
   display: inline-block;
}
.sec51 {
  width: 33.33vw;
  height: 90vh;
   display: inline-block;
}
.sec61 {
  width: 33.33vw;
  height: 90vh;
   display: inline-block;
}
#sec4{
    overflow-x: scroll;
    width: auto;
    white-space: nowrap;
}
#sec5{
  overflow-x: scroll;
  width: auto;
  white-space: nowrap;
}
#sec6{
  overflow-x: scroll;
  width: auto;
  white-space: nowrap;
}
.movies{
  width: 100%;
  height: 100%;
}

#navbar ul {
 margin: 0;
 padding: 0.1vw;	
 list-style-type: none;
 text-align: center;
 background-color: #000;
 font-size: 2vw;

 }

#navbar ul li {
 display: inline;
 }

#navbar ul li a
{
 text-decoration: none;
 padding: .2em 1em;
 color: #fff;
 background-color: #000;
 }

#navbar ul li a:hover {
 color: #000;
 background-color: #fff;
 }

 -webkit-overflow-scrolling: touch;

